html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

@mixin sk-wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0;
}
